.wrapper {
  margin: auto;
  width: 1024px;
}

.wrap-line {
    height: 3px;
    width: 70%;
    border-radius: 2px;
    background-color: #fcf9e3;
    margin: 20px auto;
}

.header {
  
}

.nav {
  
}

.page {
  
}

.footer {
  
}

