.head {
    padding-top: rem(16px);
    text-align: center;
}

.head-lang {
    margin-right: rem(16px);
    text-align: right;
}

.head-title {
    margin-bottom: rem(16px);
    font-size: 5rem;
    font-weight: 400;
}

.head-search {
    margin-bottom: rem(16px);
}

.head-subtitle {
    margin-bottom: rem(16px);
    font-size: 4rem;
    font-weight: 400;
}

input[name="search"] {
    min-width: 600px;
    padding: 5px 15px;
    border-radius: 15px;
}

.head-city {
    display: inline-block;
    margin-right: 150px;
}

.head-link {
    margin-right: 5px;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
    &:last-child {
        margin-right: 0;
    }
}

.head-btn {
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
}

.head-btn a {
    text-decoration: none;
}

.head-weather {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.head-clothes {
    width: 300px; // height: 500px;
    background: linear-gradient(to right, #904e95, #e96443);
}

.head-precipitation {
    width: 300px;
    text-align: right;
}

.head-imgweather {
    height: 200px;
    background: linear-gradient(to left, #fa859a, #c46eaa);
}

.head-cityweather {
    font-size: 32px;
}

.head-temperature {
    font-size: 80px;
}
