@media (min-width: 768px){

    .add-sity__sity {
        padding: rem(8px) rem(10px);
    }

    .add-sity__date {
        padding: rem(8px) rem(10px);
    }

    .add-sity__button {
        padding: rem(8px) rem(10px);
    }

    .add-sity__del {
        background-position: 80% center;
        width: rem(10px);
        height: rem(10px);
        background-size: contain;
    }

}
