@media (min-width: 768px){

        .wayfull__precip {

            &::before {
                margin-right: rem(15px);
                background-image: url(images/thunderstorm.png);
                background-repeat: no-repeat;
                width: rem(16px);
                height: rem(16px);
                display: block;
                content: "";
                background-size: contain;
            }

            &--sun::before {
                background-image: url(images/sun.png);
                margin-right: rem(15px);
                background-repeat: no-repeat;
                width: rem(16px);
                height: rem(16px);
                display: block;
                content: "";
                background-size: contain;
            }

            &--moon::before {
                background-image: url(images/moon.png);
                margin-right: rem(15px);
                background-repeat: no-repeat;
                width: rem(16px);
                height: rem(16px);
                display: block;
                content: "";
                background-size: contain;
            }

    }

}
