@media (min-width: 768px){

    .header__title {
        font-size: rem(83px);
    }

    .header__subtitle {
        font-size: rem(48px);
    }

    .header__input {
        font-size: rem(14px);
    }

    .nav__link {
        font-size: rem(18px);
    }

    .button-way__button {
        font-size: rem(14px);
    }

    .header-visual__title {
        font-size: rem(20px);
    }

    .header-visual__temp {
        font-size: rem(80px);
    }

    .header-visual__text {
        margin-top: rem(10px);
        font-size: rem(16px);
    }

    .menu__link {
        font-size: rem(16px);
    }

    .today__title, .tomorrow__title, .weekend__title, .wayfull__title {
        font-size: rem(14px);
    }

    .today__str, .tomorrow__str, .weekend__str, .wayfull__str {
        font-size: rem(14px);
    }

    .add-sity__sity {
        font-size: rem(16px);
    }

    .add-sity__arrival {
        font-size: rem(15px);
    }

    .add-sity__date, .js-calendar {
        font-size: rem(15px);
    }

    .add-sity__button {
        font-size: rem(15px);
    }

    .add-sity__look {
        font-size: rem(20px);
    }

}

