<header class="head font__main color__font-light">
    <div class="head-lang">
        <a href="#" class="head-ukr">ukr</a>
        <a href="#" class="head-rus">rus</a>
    </div>
    <h1 class="head-title">Weather To Go!</h1>
    <div class="wrap-line"></div>
    <p class="head-subtitle font__subtitle color__font-dark">И каждый день будет твой!</p>
    <form class="head-search" action="">
        <input type="search" name="search" placeholder="Найти город">
    </form>
        <p class="head-city">
            <a class="head-link color__font-light" href="#">Киев</a>
            <a class="head-link color__font-light" href="#">Чернигов</a>
            <a class="head-link color__font-light" href="#">Житомир</a>
            <a class="head-link color__font-light" href="#">Ужгород</a>
            <a class="head-link color__font-light" href="#">Черкасы</a>
        </p>
        <p class="head-btn color__back-btn-hover">
            <a class="color__font-light" href="#">Погода в моей поездке</a>
        </p>
    <div class="head-weather">
        <div class="head-clothes"></div>
        <div class="head-precipitation">
            <div class="head-imgweather"></div>
            <div class="head-cityweather color__font-aubergine">Каменец-Подольский</div>
            <div class="head-temperature">+5C</div>
            <div class="head-text color__font-dark">Сегодня днем будет сильный ветер и дождь, сыро, поэтому одевайтесь потеплее</div>
        </div>
    </div>
</header>
