<div class="header-visual__img">
</div>

<div class="header-visual__block">
    <div class="header-visual__precip">
        <canvas class="header-visual__icon" id="" width="128" height="128"></canvas>
    </div>
    <h3 class="header-visual__title" id="header-visual__city">Киев</h3>
    <div class="header-visual__js-block">

    </div>
    <div class="header-visual__text"></div>
</div>
<script id="header-template" type="text/x-handlebars-template">
     <div class="header-visual__js-templ">
        <div class="header-visual__temp">{{temperature}}&deg;C</div>
     </div>
</script>
