<header class="head">
    <div class="head-lang">
        <a href="#" class="head-ukr">ukr</a>
        <a href="#" class="head-rus">rus</a>
    </div>
    <h1 class="head-title">Weather To Go!</h1>
    <p class="head-subtitle">Каждый день будет твой</p>
    <form class="head-search" action="">
        <input type="search" name="search" placeholder="Найти город">
    </form>
        <p class="head-city">
            <a class="head-link" href="#">Киев</a>
            <a class="head-link" href="#">Чернигов</a>
            <a class="head-link" href="#">Житомир</a>
            <a class="head-link" href="#">Ужгород</a>
            <a class="head-link" href="#">Черкасы</a>
        </p>
        <p class="head-btn">
            <a href="#">Погода в моей поездке</a>
        </p>
    <div class="head-weather">
        <div class="head-clothes"></div>
        <div class="head-precipitation">
            <div class="head-imgweather"></div>
            <div class="head-cityweather"> Киев</div>
            <div class="head-temperature">+5C</div>
            <div class="head-text">Сегодня днем будет сильный ветер и дождь, сыро, поэтому одевайтесь потеплее</div>
        </div>
    </div>
</header>
