<div class="add-sity js-page">

   <div class="js-add-sity__block">
         <div class="add-sity__str js-count_0">
            <p class="add-sity__sity"></p>
            <p class="add-sity__arrival">приезд/отъезд</p>
            <p class="add-sity__date">
                <input type="text" class="js-calendar" id="datepicker" placeholder="Дата">
            </p>
            <p class="add-sity__del"></p>
        </div>
    </div>
    <input class="add-sity__input js-none" id="add-city" type="search" placeholder="добавить город...">

    <div class="add-sity__control">
        <button class="add-sity__button">добавить еще город</button>
        <a class="add-sity__look" href="/">Посмотреть погоду &raquo;</a>
    </div>

</div>
