<div class="weekend">

    <div class="weekend__block">
        <div class="weekend__title">
            <p class="weekend__day">Суббота</p>
            <p class="weekend__date">16 февраля 2018</p>
        </div>
        <div class="weekend__str">
            <p class="weekend__time">Ночь</p>
            <p class="weekend__precip">гроза</p>
            <p class="weekend__temp">+5&deg;С</p>
            <p class="weekend__text">сильный ветер, возможен град</p>
        </div>
        <div class="weekend__str">
            <p class="weekend__time">Утро</p>
            <p class="weekend__precip">гроза</p>
            <p class="weekend__temp">+5&deg;С</p>
            <p class="weekend__text">сильный ветер</p>
        </div>
        <div class="weekend__str">
            <p class="weekend__time">День</p>
            <p class="weekend__precip">гроза</p>
            <p class="weekend__temp">+5&deg;С</p>
            <p class="weekend__text">сильный ветер, возможен град</p>
        </div>
        <div class="weekend__str">
            <p class="weekend__time">Вечер</p>
            <p class="weekend__precip">гроза</p>
            <p class="weekend__temp">+5&deg;С</p>
            <p class="weekend__text">сильный ветер</p>
        </div>
    </div>

    <div class="weekend__block">
        <div class="weekend__title weekend__title--margin">
            <p class="weekend__day">Воскресенье</p>
            <p class="weekend__date">17 февраля 2018</p>
        </div>
        <div class="weekend__str">
            <p class="weekend__time">Ночь</p>
            <p class="weekend__precip">гроза</p>
            <p class="weekend__temp">+5&deg;С</p>
            <p class="weekend__text">сильный ветер, возможен град</p>
        </div>
        <div class="weekend__str">
            <p class="weekend__time">Утро</p>
            <p class="weekend__precip">гроза</p>
            <p class="weekend__temp">+5&deg;С</p>
            <p class="weekend__text">сильный ветер</p>
        </div>
        <div class="weekend__str">
            <p class="weekend__time">День</p>
            <p class="weekend__precip">гроза</p>
            <p class="weekend__temp">+5&deg;С</p>
            <p class="weekend__text">сильный ветер, возможен град</p>
        </div>
        <div class="weekend__str">
            <p class="weekend__time">Вечер</p>
            <p class="weekend__precip">гроза</p>
            <p class="weekend__temp">+5&deg;С</p>
            <p class="weekend__text">сильный ветер</p>
        </div>
    </div>

</div>
