<div class="wayfull">

    <div class="wayfull__block">
        <div class="wayfull__title">
            <p class="wayfull__day">Пятница</p>
            <p class="wayfull__date">16 февраля 2018</p>
            <p class="wayfull__city">Каменец-Подольский</p>
        </div>
        <div class="wayfull__str">
            <p class="wayfull__time">Днем</p>
            <p class="wayfull__precip">гроза</p>
            <p class="wayfull__temp">+5&deg;С</p>
            <p class="wayfull__text">сильный ветер, возможен град</p>
        </div>
        <div class="wayfull__str">
            <p class="wayfull__time">Ночью</p>
            <p class="wayfull__precip">гроза</p>
            <p class="wayfull__temp">+5&deg;С</p>
            <p class="wayfull__text">сильный ветер</p>
        </div>
    </div>

    <div class="wayfull__block">
        <div class="wayfull__title">
            <p class="wayfull__day">Суббота</p>
            <p class="wayfull__date">17 февраля 2018</p>
            <p class="wayfull__city">Киев</p>
        </div>
        <div class="wayfull__str">
            <p class="wayfull__time">Днем</p>
            <p class="wayfull__precip">гроза</p>
            <p class="wayfull__temp">+5&deg;С</p>
            <p class="wayfull__text">сильный ветер, возможен град</p>
        </div>
        <div class="wayfull__str">
            <p class="wayfull__time">Ночью</p>
            <p class="wayfull__precip">гроза</p>
            <p class="wayfull__temp">+5&deg;С</p>
            <p class="wayfull__text">сильный ветер</p>
        </div>
    </div>

    <div class="wayfull__block">
        <div class="wayfull__title">
            <p class="wayfull__day">Воскресенье</p>
            <p class="wayfull__date">18 февраля 2018</p>
            <p class="wayfull__city">Дахаб</p>
        </div>
        <div class="wayfull__str">
            <p class="wayfull__time">Днем</p>
            <p class="wayfull__precip wayfull__precip--sun">ясно</p>
            <p class="wayfull__temp">+35&deg;С</p>
            <p class="wayfull__text">безветренно, без осадков</p>
        </div>
        <div class="wayfull__str">
            <p class="wayfull__time">Ночью</p>
            <p class="wayfull__precip wayfull__precip--moon">ясно</p>
            <p class="wayfull__temp">+25&deg;С</p>
            <p class="wayfull__text">легкий ветер</p>
        </div>
    </div>

    <div class="wayfull__block">
        <div class="wayfull__title">
            <p class="wayfull__day">Понедельник</p>
            <p class="wayfull__date">19 февраля 2018</p>
            <p class="wayfull__city">Дахаб</p>
        </div>
        <div class="wayfull__str">
            <p class="wayfull__time">Днем</p>
            <p class="wayfull__precip wayfull__precip--sun">ясно</p>
            <p class="wayfull__temp">+35&deg;С</p>
            <p class="wayfull__text">безветренно, без осадков</p>
        </div>
        <div class="wayfull__str">
            <p class="wayfull__time">Ночью</p>
            <p class="wayfull__precip wayfull__precip--moon">ясно</p>
            <p class="wayfull__temp">+25&deg;С</p>
            <p class="wayfull__text">легкий ветер</p>
        </div>
    </div>

    <div class="wayfull__block">
        <div class="wayfull__title">
            <p class="wayfull__day">Вторник</p>
            <p class="wayfull__date">20 февраля 2018</p>
            <p class="wayfull__city">Дахаб</p>
        </div>
        <div class="wayfull__str">
            <p class="wayfull__time">Днем</p>
            <p class="wayfull__precip wayfull__precip--sun">ясно</p>
            <p class="wayfull__temp">+35&deg;С</p>
            <p class="wayfull__text">безветренно, без осадков</p>
        </div>
        <div class="wayfull__str">
            <p class="wayfull__time">Ночью</p>
            <p class="wayfull__precip wayfull__precip--moon">ясно</p>
            <p class="wayfull__temp">+25&deg;С</p>
            <p class="wayfull__text">легкий ветер</p>
        </div>
    </div>

    <div class="wayfull__block">
        <div class="wayfull__title">
            <p class="wayfull__day">Среда</p>
            <p class="wayfull__date">21 февраля 2018</p>
            <p class="wayfull__city">Дахаб</p>
        </div>
        <div class="wayfull__str">
            <p class="wayfull__time">Днем</p>
            <p class="wayfull__precip wayfull__precip--sun">ясно</p>
            <p class="wayfull__temp">+35&deg;С</p>
            <p class="wayfull__text">безветренно, без осадков</p>
        </div>
        <div class="wayfull__str">
            <p class="wayfull__time">Ночью</p>
            <p class="wayfull__precip wayfull__precip--moon">ясно</p>
            <p class="wayfull__temp">+25&deg;С</p>
            <p class="wayfull__text">легкий ветер</p>
        </div>
    </div>

    <div class="wayfull__block">
        <div class="wayfull__title">
            <p class="wayfull__day">Четверг</p>
            <p class="wayfull__date">22 февраля 2018</p>
            <p class="wayfull__city">Киев</p>
        </div>
        <div class="wayfull__str">
            <p class="wayfull__time">Днем</p>
            <p class="wayfull__precip">гроза</p>
            <p class="wayfull__temp">+5&deg;С</p>
            <p class="wayfull__text">сильный ветер, возможен град</p>
        </div>
        <div class="wayfull__str">
            <p class="wayfull__time">Ночью</p>
            <p class="wayfull__precip">гроза</p>
            <p class="wayfull__temp">+5&deg;С</p>
            <p class="wayfull__text">сильный ветер</p>
        </div>
    </div>

    <div class="wayfull__block">
        <div class="wayfull__title">
            <p class="wayfull__day">Пятница</p>
            <p class="wayfull__date">23 февраля 2018</p>
            <p class="wayfull__city">Каменец-Подольский</p>
        </div>
        <div class="wayfull__str">
            <p class="wayfull__time">Днем</p>
            <p class="wayfull__precip">гроза</p>
            <p class="wayfull__temp">+5&deg;С</p>
            <p class="wayfull__text">сильный ветер, возможен град</p>
        </div>
        <div class="wayfull__str">
            <p class="wayfull__time">Ночью</p>
            <p class="wayfull__precip">гроза</p>
            <p class="wayfull__temp">+5&deg;С</p>
            <p class="wayfull__text">сильный ветер</p>
        </div>
    </div>

</div>
