<div class="today">
    <div class="today__title">
        <p class="today__day">Пятница</p>
        <p class="today__date">15 февраля 2018</p>
    </div>
    <div class="today__str">
        <p class="today__time">02:00</p>
        <p class="today__precip">гроза</p>
        <p class="today__temp">+5&deg;С</p>
        <p class="today__text">сильный ветер, возможен град</p>
    </div>
    <div class="today__str">
        <p class="today__time">04:00</p>
        <p class="today__precip">гроза</p>
        <p class="today__temp">+5&deg;С</p>
        <p class="today__text">сильный ветер</p>
    </div>
    <div class="today__str">
        <p class="today__time">06:00</p>
        <p class="today__precip">гроза</p>
        <p class="today__temp">+5&deg;С</p>
        <p class="today__text">сильный ветер, возможен град</p>
    </div>
    <div class="today__str">
        <p class="today__time">08:00</p>
        <p class="today__precip">гроза</p>
        <p class="today__temp">+5&deg;С</p>
        <p class="today__text">сильный ветер</p>
    </div>
    <div class="today__str">
        <p class="today__time">10:00</p>
        <p class="today__precip">гроза</p>
        <p class="today__temp">+5&deg;С</p>
        <p class="today__text">сильный ветер, возможен град</p>
    </div>
    <div class="today__str">
        <p class="today__time">12:00</p>
        <p class="today__precip">гроза</p>
        <p class="today__temp">+5&deg;С</p>
        <p class="today__text">сильный ветер</p>
    </div>
    <div class="today__str">
        <p class="today__time">14:00</p>
        <p class="today__precip">гроза</p>
        <p class="today__temp">+5&deg;С</p>
        <p class="today__text">сильный ветер, возможен град</p>
    </div>
    <div class="today__str">
        <p class="today__time">16:00</p>
        <p class="today__precip">гроза</p>
        <p class="today__temp">+5&deg;С</p>
        <p class="today__text">сильный ветер</p>
    </div>
    <div class="today__str">
        <p class="today__time">18:00</p>
        <p class="today__precip">гроза</p>
        <p class="today__temp">+5&deg;С</p>
        <p class="today__text">сильный ветер, возможен град</p>
    </div>
    <div class="today__str">
        <p class="today__time">20:00</p>
        <p class="today__precip">гроза</p>
        <p class="today__temp">+5&deg;С</p>
        <p class="today__text">сильный ветер</p>
    </div>
    <div class="today__str">
        <p class="today__time">22:00</p>
        <p class="today__precip">гроза</p>
        <p class="today__temp">+5&deg;С</p>
        <p class="today__text">сильный ветер, возможен град</p>
    </div>
    <div class="today__str">
        <p class="today__time">24:00</p>
        <p class="today__precip">гроза</p>
        <p class="today__temp">+5&deg;С</p>
        <p class="today__text">сильный ветер</p>
    </div>
</div>
