/*$font-OS: 'Open Sans', sans-serif;
$font-SSP: 'Source Sans Pro', sans-serif;

$header-color: #f4f5f9;
$brand-color: #e74c3c;
$headertext-color: #cbc6c0;
$base-color: #fff;
$text-color: #999;
$title-color: #6a6a6a;*/

$body-color: #eabcb0;

$font-size: 16px;
