@media (min-width: 480px){

    .header__button {
       margin-top: 0;
       flex-basis: 32%;
       display: flex;
       justify-content: flex-end;
    }

    .button-way__button {
        padding: rem(10px) rem(30px);
    }

}
