@media (min-width: 480px){

    .weekend__precip {

        &::before {
            width: rem(15px);
            height: rem(15px);
            background-size: contain;
            background-position: left rem(5px);
        }
    }

}
