@media (min-width: 480px){

    .header__title {
        font-size: rem(55px);
    }

    .header__subtitle {
        font-size: rem(30px);
    }

    .header__input {
        font-size: rem(14px);
    }

    .header-visual__title {
        font-size: rem(20px);
    }

    .header-visual__text {
        font-size: rem(12px);
    }

    .menu__link {
        font-size: rem(16px);
    }

    .today__title, .tomorrow__title, .weekend__title, .wayfull__title {
        font-size: rem(14px);
    }

    .today__str, .tomorrow__str, .weekend__str, .wayfull__str {
        font-size: rem(14px);
    }

    .add-sity__sity {
        font-size: rem(12px);
    }

    .add-sity__arrival {
        font-size: rem(12px);
    }

    .add-sity__date, .js-calendar{
        font-size: rem(11px);
    }

    .add-sity__button {
        font-size: rem(15px);
    }

    .add-sity__look {
        font-size: rem(15px);
    }

    .footer__copiright {
        font-size: rem(16px);
    }

}
