.header__button {
   margin-top: rem(12px);
}

.button-way__button {
    background-color: #ff5621;
    padding: rem(7px) rem(30px);
    border: 0;
    border-radius: rem(7px);
    color: #fff;
    cursor: pointer;

    &:hover {
        text-decoration: none;
        background-color: hsla(14, 100%, 56%, 0.8);
    }



}
