.header__button {
   margin-top: rem(12px);
}

.button-way__button {
    background-color: $brand-color;
    padding: rem(7px) rem(30px);
    border: 0;
    border-radius: rem(7px);
    color: $title-color;
    cursor: pointer;

    &:hover {
        text-decoration: none;
        background-color: hsla(330, 32%, 42%, 0.8);
    }
}
