.header__nav {
    @include flex-center-col;
    margin-top: rem(15px);
    width: 100%;
}

.nav {
    @include flex-around;
    width: 100%;
    flex-wrap: wrap;
}

.nav__link {
    color:  $title-color;
    text-decoration: none;
    padding-right: rem(5px);

    &:hover {
        text-decoration: underline;
    }
}
