.weekend {
    padding-top: rem(16px);
}

.weekend__title {
    background-color: #e2e7e9;
    @include flex-between;
    padding: rem(6px) rem(8px);
    border-radius: rem(4px);
    color: $base-color;

    &--margin {
        margin-top: rem(12px);
    }
}

.saturday__header-block, .sunday__header-block {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.js-sunday--none {
    display: none;
}

.weekend__day {
    &::first-letter {
        text-transform: uppercase;
    }
}

.weekend__date {

}

.weekend__str {
    display: flex;
    color: $brand-color;
    padding: rem(6px) 0;
}

.weekend__block .weekend__str:nth-child(even) {
    background-color: #f0f3f4;
}

.weekend__time {
    flex-basis: 17%;
    padding-left: rem(9px);
}

.weekend__precip {

    flex-basis: 23%;
    display: flex;
    justify-content: center;
}

.weekend__temp {
    flex-basis: 15%;
}

.weekend__text {
    flex-basis: 45%;
}
