.page {
    padding: rem(16px) rem(16px) rem(28px);
    background-color: #fff;
    border-radius: rem(13px);
    box-shadow: 2px 2px 11px 5px rgba(0, 0, 0, .15);
}

.page__menu {
    @include flex-between;
}

.menu__link {
    color: #424e59;
    opacity: 0.6;
    padding: rem(4px) rem(10px);

    &:hover {
        text-decoration: none;
        opacity: 1.0;
    }

    &--active {
        border-bottom: 2px solid #fd5722;
        color: $title-color;
        opacity: 1.0;
    }

    &:active {
        outline: none;
    }

    &:focus {
        outline: none;
    }

}
