.tomorrow {
    padding-top: rem(16px);
}

.tomorrow__title {
    background-color: #e2e7e9;
    @include flex-between;
    padding: rem(6px) rem(8px);
    border-radius: rem(4px);
    color: $base-color;
}

.tomorrow__header-block {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.tomorrow__day {

    &::first-letter {
        text-transform: uppercase;
    }

}

.tomorrow__date {

}

.tomorrow__str {
    display: flex;
    color: $brand-color;
    padding: rem(6px) 0;
}

.tomorrow__str:nth-child(even) {
    background-color: #f0f3f4;
}

.tomorrow__time {
    flex-basis: 17%;
    padding-left: rem(9px);
}

.tomorrow__precip {

    flex-basis: 23%;
    display: flex;
    justify-content: center;
}

.tomorrow__temp {
    flex-basis: 15%;
}

.tomorrow__text {
    flex-basis: 45%;
}
