.header__title {
    font-weight: 300;
    font-size: rem(40px);
}

.header__subtitle {
    font-weight: 400;
    font-size: rem(23px);
}

.header__input {
    font-weight: 400;
    font-size: rem(12px);
}

.nav__link {
    font-weight: 400;
    font-size: rem(14px);
}

.button-way__button {
    font-weight: 400;
    font-size: rem(12px);
    text-transform: uppercase;
}

.header-visual__title {
    font-weight: 500;
    font-size: rem(16px);
}

.header-visual__temp {
    font-weight: 500;
    font-size: rem(65px);
}

.header-visual__text {
    font-weight: 400;
    font-size: rem(9px);
}

.menu__link {
    font-weight: 500;
    font-size: rem(10px);
}

.today__title, .tomorrow__title, .weekend__title, .wayfull__title {
    font-weight: 400;
    font-size: rem(10px);
}

.today__str, .tomorrow__str, .weekend__str, .wayfull__str {
    font-weight: 400;
    font-size: rem(10px);
}

.add-sity__sity {
    font-weight: 400;
    font-size: rem(9px);
}

.add-sity__arrival {
    font-weight: 500;
    font-size: rem(9px);
}

.add-sity__date, .js-calendar {
    font-weight: 400;
    font-size: rem(8px);
}

.add-sity__button {
    font-weight: 400;
    font-size: rem(9px);
}

.add-sity__look {
    font-weight: 500;
    font-size: rem(12px);
}

.footer__copiright {
    font-weight: 400;
    font-size: rem(12px);
}
